* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.bg-purple {
  background-color: #794BC4;
}

#home {
  height:  100vh;
  min-height: 300px;
}

#tech {
  height: auto;
}

.container-fluid h2{
  color: #A37CED;
}

img {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sc-align-center {
  margin-left: auto;
  margin-right: auto;
}

