.jumbotron{
  height:  100vh;
  min-height: 300px;
  margin-bottom: 0px;
}

.bg-purple {
  background-color: #794BC4;
}

.jumbotron h2{
  color: #A37CED;
}

img {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sc-align-center {
  margin-left: auto;
  margin-right: auto;
}